html {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    background-color: rgb(240, 240, 240);
}

#title {
    font-family: Helvetica, sans-serif;
    text-align: center;
    font-size: 30px;
}

#sourceRef, #todayDate {
    font-size: 15px;
    margin-top: -20px;
}


.loading {
    width: 0px;
    height: 0px;
    margin-left: 50%;
    margin-right: 50%;
    border: 0px solid white;
    border-radius: 50%;
    border-top: 30px solid steelblue;
    border-bottom:  30px solid red;
    border-left:  30px solid green;
    border-right:  30px solid orange;
    animation: spin 0.5s linear infinite;
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.graphBtn {
    background-color: white;
      height: 50px;
      width: 200px;
      margin-left: 1%;
      padding: 5px;
      font-size: 17px;
      cursor: pointer;
      border-right: 3px ridge grey;
      border-bottom: 4px ridge grey;
      box-shadow: 0 9px lightgrey;
}

.graphBtn:hover {
    background-color:lightgrey;
}

.graphBtn:active {
    box-shadow: 0 3px lightgrey;
    transform: translateY(2px);
}

#flag {
    width: 250px;
    text-align: center;
    padding: -20px;
    box-shadow: 0 10px 16px 0 rgb(0 0 0 / 40%), 0 6px 20px 0 rgb(0 0 0 / 30%)
}

#flagSource {
    font-size: 10px;
}

@media screen and (max-width: 600px) {
    .graphBtn {
        width: 250px;
        margin-left: 20%;
        margin-bottom: 10px;
        box-shadow: 0 0px lightgrey;
    }

    .graphBtn:active {
        box-shadow: 0 0px lightgrey;
        transform: translateY(0px);
    }
}